:root {
  --vp-c-accent: #292b97;
  --vp-c-accent-bg: #2c1cb6;
  --vp-c-accent-hover: #1c25a1;
  --vp-c-text: rgb(44, 44, 103);
  --vp-c-text-mute: rgba(50, 35, 85, 0.874);
  --vp-c-text-subtle: rgb(70, 70, 226);
  --vp-c-bg: #c3d3e7;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #aac7e4;
}